*{
    margin: 0px;
    border: 0px;
}
body{
    background: #a2a39e;
    link: white;
}
.header-container{
    background: #f5ba1a;
    width: 100vw;
    height: 7vh;
}
.header{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 7vh;
}
.header1{
    width: 50vw;
    height: 6vh;
    position: absolute;
}
.header2{
    margin: 0px;
    padding: 0px;
    width: 45vw;
    height: 6.9vh;
    float: right;
}
a{
    text-decoration: none;
}
.main{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
.profile-image{
    width: 850px;
}